*
!public/
!src/
!bun.lock

src/**/__tests__
src/**/test.[jt]s
src/**/test.[jt]sx
src/**/spec.[jt]s
src/**/spec.[jt]sx
src/**/*.test.[jt]s
src/**/*.test.[jt]sx
src/**/*.spec.[jt]s
src/**/*.spec.[jt]sx

!index.html
!next-env.d.ts
!next.config.ts
!package.json
!postcss.config.js
!tsconfig.*
